doctype html
html
	head
		title Abstract web-studio
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
	body
		header
			img(src='#{staticRoot}/img/kazakhstan.svg')
			h1 Abstract web-studio
		aside
			nav
				a(href='#{root}/') About
				a(href='#{root}/projects.html') Projects
				a(href='#{root}/contacts.html') Contacts
		article
			block main
		footer
			p 2015 &copy; Abstract web-studio